{{!< default }}

<div class="container">
  <div class="alert alert-primary" role="alert">
    <h1>Welcome to consumer.</h1>
  </div>
</div>

{{#contentFor "javascript"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js"></script>
<script>
</script>
{{#contentFor}}